
<%= form_for [@job, @job.bids.new], :validate => true do |f| %>
	<br/>
	<h3>Place Your Bid On This Stuff</h3>
	<br />
	<div class="field">
		<%= f.label "Your name" %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label "Your email" %>
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label "What ingredients and skills can you bring to the table?" %>
		<%= f.text_area :body %>
	</div>

<div>
	<div class="field">
		<%= f.label "Your bid in $$ " %>
		<%= f.text_field :bid_amount %>&nbsp;(Don't key $ or commas, Just use numbers i.e.  10 or 10.00)
	</div>

	<div class="field">
		<%= f.label "per" %>
		<%= f.select(:bid_per_rate, ['Job','Piece', 'Unit' , 'Hr.', 'Day', 'Week', 'Month', 'Year']) %>
	</div>
</div>

	<div class="actions">
    	<!-- %= submit_or_cancel(f) % -->
    	<%= submit_tag 'Bid On This Stuff' %> or
		<%= link_to 'Simmer Just A Bit!', '#', :onclick => "$('#new_bid').slideUp();$('#new_bid_link').slideDown();$('#bid_cancel_link').slideDown();" %>
  	</div>



<% end %>
