<div id="show_job">

	<%= render @job -%>

	<% @selected = @job.bids.where('bid_selected = ?', 1).first %>
	<% if @selected.blank? %>
		<%= link_to 'Email a friend', '#', :onclick => "$('#notify_friend_form').slideDown()" %>
		<%= render 'notify_friend' %>
	<% end %>

	<div id="bids">
	<% if @job.bids.count > 0 %>
		<h3>Bids</h3>
		<%= render @job.bids.order('bid_per_rate ASC, bid_amount ASC')%>
	<% end %>
	</div>

	<div id="comments">
	<% if @job.comments.count > 0 %>
		<h3 id="stuff_said_hdr">Stuff Said About This Stuff...</h3>
		<%= render @job.comments.order('updated_at DESC') %>
	<% end %>
	</div>

	<%  @selected = @job.bids.where('bid_selected = ?', 1).first %>
	<% if @selected.nil? && !@job.owned_by?(current_member) %>
		<br/>
		<%= link_to 'Bid On This Stuff', new_job_bid_path(@job, :format => :js), :remote => true, :id => 'new_bid_link' %>&nbsp;
	<% end %>

	<% if logged_in? %>
		<%= link_to 'Say Something About This Stuff', new_job_comment_path(@job, :format => :js), :remote => true, :id => 'new_comment_link' %>&nbsp;
	<% end %>

	<%= link_to 'Simmer Just A Bit!', jobs_path, :id => 'job_cancel_link' -%>

</div>

